<!--
<div>
    <div  class="gallery" *ngFor="let dispimage of imageList ">
 
    <img src="{{dispimage.Destination}}" style="width:208px;height:284px;"/>
     <a href="{{dispimage.RecordName}}" target="_blank">Shop Now</a>
  alt="Responsive image" class="img-thumbnail"
  
   </div>
  -->
  <div class="results-clarifai">
    <div class="results-header">
        <h4>Meet your match!</h4>
        <h2>{{category}} Room</h2>
        <h4>Check out the products we think best represent your style.</h4>
    </div>
    <div class="container_12">
        <div class="results-categories">
            
                <div *ngIf="sofa_found==true">     
                    <h3>Sofas + Loveseats</h3>
                    <div class="subcategories">
                        
   

                            <div align="center" class="form-section2" id="form-section2">
                                    <div class="container_13">
                                       
                                    <ngx-carousel
                                        [inputs]="carouselOne"
                                        (carouselLoad)="myfunc($event)">
                                      <!--
                                          <div  *ngFor="let dispimage of pinterestImages ">
                                          -->
                                              <ngx-tile NgxCarouselItem *ngFor="let dispimage of sofaImageList;let i=index ">
                                            
                                              <!--
                                                alt="Responsive image"
                                              <ngx-item *ngFor= "let dispimage of pinterestImages ">
                                              -->
                                              <img src="{{dispimage.Destination}}" style="width:475px;height:300px;"/>
                                              <br> <a href="{{dispimage.RecordName}}" target="_blank">Shop Now</a>
                                              </ngx-tile>
                                        
                                         
                                          <button NgxCarouselPrev class='leftRs'>&lt;</button>
                                          <button NgxCarouselNext class='rightRs'>&gt;</button>
                                    </ngx-carousel>
                                  
                                  </div>
                                  </div>
                                    
  </div>
</div>

  <div *ngIf="chair_found==true">
  <h3>Chairs</h3>
        <div class="subcategories">

                <div align="center" class="form-section2" id="form-section2">
                        <div class="container_13">
                           
                        <ngx-carousel
                            [inputs]="carouselOne"
                            (carouselLoad)="myfunc($event)">
                          <!--
                              <div  *ngFor="let dispimage of pinterestImages ">
                              -->
                                  <ngx-tile NgxCarouselItem *ngFor="let dispimage of chairImageList;let i=index ">
                                
                                  <!--
                                    alt="Responsive image"
                                  <ngx-item *ngFor= "let dispimage of pinterestImages ">
                                  -->
                                  <img src="{{dispimage.Destination}}" style="width:475px;height:300px;"/>
                                  <br><a href="{{dispimage.RecordName}}" target="_blank">Shop Now</a>
                                  </ngx-tile>
                            
                             
                              <button NgxCarouselPrev class='leftRs'>&lt;</button>
                              <button NgxCarouselNext class='rightRs'>&gt;</button>
                        </ngx-carousel>
                      
                      </div>
                      </div>
</div>
</div>

<div *ngIf="pillow_found==true">
<h3>Pillows</h3>
        <div class="subcategories">

                <div align="center" class="form-section2" id="form-section2">
                        <div class="container_13">
                           
                        <ngx-carousel
                            [inputs]="carouselOne"
                            (carouselLoad)="myfunc($event)">
                          <!--
                              <div  *ngFor="let dispimage of pinterestImages ">
                              -->
                                  <ngx-tile NgxCarouselItem *ngFor="let dispimage of pillowImageList;let i=index ">
                                
                                  <!--
                                    alt="Responsive image"
                                  <ngx-item *ngFor= "let dispimage of pinterestImages ">
                                  -->
                                  <img src="{{dispimage.Destination}}" style="width:475px;height:300px;"/>
                                  <br><a href="{{dispimage.RecordName}}" target="_blank">Shop Now</a>
                                  </ngx-tile>
                            
                             
                              <button NgxCarouselPrev class='leftRs'>&lt;</button>
                              <button NgxCarouselNext class='rightRs'>&gt;</button>
                        </ngx-carousel>
                      
                      </div>
                      </div>
</div>
</div><br>

<div *ngIf="lamp_found==true">
       
<h3>Lamps</h3>
        <div class="subcategories">

                <div align="center" class="form-section2" id="form-section2">
                        <div class="container_13">
                           
                        <ngx-carousel
                            [inputs]="carouselOne"
                            (carouselLoad)="myfunc($event)">
                          <!--
                              <div  *ngFor="let dispimage of pinterestImages ">
                              -->
                                  <ngx-tile NgxCarouselItem *ngFor="let dispimage of lampImageList;let i=index ">
                                
                                  <!--
                                    alt="Responsive image"
                                  <ngx-item *ngFor= "let dispimage of pinterestImages ">
                                  -->
                                  <img src="{{dispimage.Destination}}" style="width:475px;height:300px;"/>
                                  <br><a href="{{dispimage.RecordName}}" target="_blank">Shop Now</a>
                                  </ngx-tile>
                            
                             
                              <button NgxCarouselPrev class='leftRs'>&lt;</button>
                              <button NgxCarouselNext class='rightRs'>&gt;</button>
                        </ngx-carousel>
                      
                      </div>
                      </div>
</div>
</div><br>

<div *ngIf="pillow_found==true">
        
<h3>Rugs</h3>
        <div class="subcategories">

                <div align="center" class="form-section2" id="form-section2">
                        <div class="container_13">
                           
                        <ngx-carousel
                            [inputs]="carouselOne"
                            (carouselLoad)="myfunc($event)">
                          <!--
                              <div  *ngFor="let dispimage of pinterestImages ">
                              -->
                                  <ngx-tile NgxCarouselItem *ngFor="let dispimage of rugImageList;let i=index ">
                                
                                  <!--
                                    alt="Responsive image"
                                  <ngx-item *ngFor= "let dispimage of pinterestImages ">
                                  -->
                                  <img src="{{dispimage.Destination}}" style="width:475px;height:300px;"/>
                                  <br><a href="{{dispimage.RecordName}}" target="_blank">Shop Now</a>
                                  </ngx-tile>
                            
                             
                              <button NgxCarouselPrev class='leftRs'>&lt;</button>
                              <button NgxCarouselNext class='rightRs'>&gt;</button>
                        </ngx-carousel>
                      
                      </div>
                      </div>
</div>
</div>
    </div>
  </div>