@font-face {
    font-family: 'Gotham';
    src: url('../../assets/GothamBold.ttf')  format('truetype'),
         url('../../assets/GothamBoldItalic.ttf')  format('truetype');
    font-weight: bold;
    }
.results-header {
    text-align: center;
    position: relative;
    background-color: #d6ebeb;
    margin-bottom: 45px;
}
.results-clarifai h2 {
    color: #363636;
    font-size: 28px;
    font-family: GothamBold;
    text-transform: uppercase;
    margin: -10px 0;
}

.results-clarifai h3 {
    color: #066464;
    font-size: 22px;
    font-family: Gotham;
    text-transform: uppercase;
    padding: 0 0 20px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 2px;
    overflow: hidden;
    max-width: 1200px;
}

.results-clarifai h3:before,
.results-clarifai h3:after {
    background-color: #066464;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.results-clarifai h3:before {
    right: 0.5em;
    margin-left: -50%;
}

.results-clarifai h3:after {
    left: 0.5em;
    margin-right: -50%;
}

.results-clarifai h4 {
    color: #363636;
    font-size: 18px;
    font-family: GothamBook;
    font-style: italic;
    font-weight: 100;
    padding: 23px 0;
    margin-bottom: 0;
    margin-left: auto;
    width: 28%;
    margin-right: auto;
}


h3 { padding:20px; text-align:center; }

ngx-carousel .ngxcarouselPointDefault {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.ngxcarouselPoint {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    margin: 0;
    white-space: nowrap;
    overflow: auto;
    box-sizing: border-box;
  }

ngx-carousel .ngxcarouselPoint li {
  transform: scale(1);
  display: inline-block;
            border-radius: 50%;
            border: 2px solid rgba(0, 0, 0, 0.55);
            padding: 4px;
            margin: 0 3px;
            transition-timing-function: cubic-bezier(.17, .67, .83, .67);
            transition: .4s;
}

ngx-carousel  button {
  
  position: absolute;
  bottom: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 999%;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  margin: auto;
}

ngx-carousel button[NgxCarouselPrev] {
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
 
}
ngx-carousel button[NgxCarouselNext] {
  right: -100;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
 
}


.container_13 {
    width: 1200px;
}


.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}


.form-section2[_ngcontent-c4] {
    background-color: #84b2f8;
    height: 375px;
    
}


.form-section2 label {
    display: block;
    text-align: left;
    color: rgb(163, 182, 219);
    text-decoration: underline;
    font-style: bold;
    font-size: 15px;
    padding: 5px;
    font-family: Gotham;
}
.form-section2 span#label-no {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 5px 10px 0;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-family: Gotham;
    color: #ffffff;
    line-height: 30px;
    background-color: #FF6E33;
}
.form-section2 p {
    margin: -15px 38px 0;
    display: block;
    font-family: GothamBook;
    font-size: 13px;
    font-style: italic;
    color: #ebc750;
    padding-bottom: 10px;
}
